.p-10 {
  padding: 10px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.fz-30 {
  font-size: 30px;
}
.fz-20 {
  font-size: 20px;
}
.fz-16 {
  font-size: 16px;
}
.fz-14 {
  font-size: 14px;
}
.fz-12 {
  font-size: 12px;
}
.d-flex {
  display: flex;
}
.jcc {
  justify-content: center;
}
.jc-between {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.fz14 {
  font-size: 14px;
}