.p-10 {
  padding: 10px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.fz-14 {
  font-size: 14px;
}
.d-flex {
  display: flex;
}
.jc-between {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.fz14 {
  font-size: 14px;
}